<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
	<head>
		<meta charset="utf-8" />
		<title>Home Page</title>
	</head>
	<body>

    <div class="container">
        <div class="span8 offset2">
            <h1>Home Page</h1>
        </div>
        <div class="span2 offset8">
            <a href="#" wicket:id="logout">Logout</a>
            <a href="#" wicket:id="loginLink">Please login</a>
        </div>
        <div class="span8 offset2">
            <div wicket:id="feedback"></div>
        </div>
        <div class="span8 offset2">
            <br/>
            <h3>Welcome <span wicket:id="username"/></h3>
        </div>
    </div>
	</body>
</html>
