<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
    <head>
        <meta charset="utf-8"/>
        <title>Login Page</title>
    </head>
    <body>
        <h1></h1>

        <div class="container">
            <div class="span8 offset2">
                <h1>Login Page</h1>

                <form wicket:id="form" class="form-horizontal">
                    <fieldset>
                        <legend>Please login</legend>
                    </fieldset>

                    <div class="control-group">
                        <div wicket:id="feedback"></div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="login">Login</label>
                        <div class="controls">
                            <input type="text" id="login" wicket:id="login" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input type="password" id="password" wicket:id="password" />
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox" wicket:id="rememberMe"> Remember me on this computer
                            </label>
                        </div>
                    </div>
                    <div class="form-actions">
                        <input type="submit" wicket:id="submit" value="Login" title="Login" class="btn btn-primary"/>
                    </div>
                </form>

            </div>
        </div>

    </body>
</html>
